Scoreboard\Design\Firmware\Scoreboard_Firmware\Debug\
Scoreboard\Design\Firmware\Scoreboard_Firmware\Release\
*~*.xlsx
*desktop.ini
Thumbs.db
Sponsors/2016_Season/Logos/Thumbs.db
Sponsors/2017_Season/Logos/Bitmaps/Thumbs.db
Sponsors/2018_Season/Logos/Thumbs.db
Sponsors/2018_Season/Thumbs.db
